    svg.lifestream * {
      border: 0px;
      margin: 0px;
    }
    svg.lifestream {
      right: 0;
      top: 0;
      position: fixed;
      height: 100%;
    }
    g.axis path.domain{
      fill: none;
      stroke: black;
    }
    line{
      stroke: black;
    }
    div.ttp{
      border: thin black solid;
      background: lightgrey;
      display: none;
    }
    circle{
        fill: none;
        stroke: black;
    }
    g.axis text{
        font-size: x-small;
        text-transform: uppercase;
        alignment-baseline: mathematical;
    }