    * {
      border: 0px;
      margin: 0px;
    }
    svg.lifestream {
      right: 0;
      top: 0;
      position: fixed;
      height: 100%;
    }
    g.axis path.domain{
      fill: none;
      stroke: black;
    }
    line{
      stroke: black;
    }
    /*.axis{*/
      /*display: none;*/
    /*}*/
    div.ttp{
      border: thin black solid;
      background: lightgrey;
    }